<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ticketother.demo.dao.UserOtherDao">
    <resultMap id="showMap" type="com.ticketother.demo.entity.IndentMessage">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="trainId" column="train_id"/>
        <result property="seatMessage" column="seat_message" />
        <result property="indentTime" column="indent_time" />
        <result property="trainStartTime" column="train_start_time" />
        <result property="indentFrom" column="indent_from" />
        <result property="indentArrive" column="indent_arrive" />
        <result property="seatType" column="seat_type" />
        <result property="isPayment" column="is_payment" />
        <result property="isStatus" column="is_status" />
        <result property="isSuccess" column="is_success"/>
    </resultMap>

    <resultMap id="trainMap" type="com.ticketother.demo.entity.Train">
        <id property="id" column="id"/>
        <result property="trainCard" column="train_card"/>
        <result property="trainFrom" column="train_from"/>
        <result property="trainFromTime" column="train_from_time"/>
        <result property="trainArrive" column="train_arrive"/>
        <result property="trainArriveTime" column="train_arrive_time"/>
        <result property="trainAfter" column="train_after"/>
        <result property="trainSeat" column="train_seat"/>
        <result property="trainWait" column="train_wait"/>
    </resultMap>
    <resultMap id="user" type="com.ticketother.demo.entity.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPname" column="user_pname"/>
        <result property="userSex" column="user_sex"/>
        <result property="userAddress" column="user_address"/>
        <result property="userCard" column="user_card"/>
        <result property="userBirthday" column="user_birthday"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="userAge" column="user_age"/>
    </resultMap>

    <resultMap id="trainSeatMap" type="com.ticketother.demo.entity.TrainSeatMessage">
        <id property="id" column="id"/>
        <result property="trainId" column="train_id"/>
        <result property="backChangeMessage" column="back_change_message"/>
        <result property="trainFrom" column="train_from"/>
        <result property="trainArrive" column="train_arrive"/>
        <result property="trainTime" column="train_time"/>
        <result property="seatType" column="seat_type"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--查用户的历史行程-->
    <select id="showHistroy" resultMap="showMap">
        select * from indent_message where user_id = #{userId} and is_success = #{status}   order by indent_time DESC
        <if test=" end > 0">
            limit #{start} , #{end}
        </if>

    </select>

    <!--查看未完成的行程-->
    <select id="showFuture" resultMap="showMap">
         select * from indent_message where user_id = #{userId} and is_success =  #{status}  order by indent_time DESC
        <if test=" end > 0">
            limit #{start} , #{end}
        </if>

    </select>

    <select id="selectTrainById" resultMap="trainMap" parameterType="java.lang.Long">
        select * from train where id = #{trainId}
    </select>

    <!-- 更具火车车次，查询id  -->
    <select id="selectTrainIdByTrainCard" resultType="java.lang.Long" parameterType="java.lang.String">
        select id from train where train_card = #{trainCard}
    </select>

    <insert id="addTrainSeatMessage" parameterType="com.ticketother.demo.entity.TrainSeatMessage">
        insert into train_seat_message(train_id,back_change_message,train_from,train_arrive,train_time,seat_type)
        value (#{seatMessage.trainId},#{seatMessage.backChangeMessage},#{seatMessage.trainFrom},#{seatMessage.trainArrive},#{seatMessage.trainTime},#{seatMessage.seatType})
    </insert>

    <select id="showUserMessage"  resultMap="user" parameterType="java.lang.String">
        select * from user where user_name like CONCAT('%',#{userName},'%')
    </select>
    <select id="showUser" resultMap="user" parameterType="java.lang.Long">
        select * from user where id = #{userId}
    </select>

    <select id="allMessage" resultMap="trainSeatMap">
        select * from train_seat_message where 1=1
        <if test="startTime != null and startTime != ''">
            and train_time >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and train_time &lt;= #{endTime}
        </if>
        <if test=" end > 0">
            limit #{start} , #{end}
        </if>
    </select>
</mapper>